@charset "UTF-8";
/* CSS Document */
*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
header,
footer,
aside,
nav,
section,
details,
figcaption,
figure,
hgroup,
main,
menu,
summary {
  display: block;
}

html,
body,
div,
p,
span,
a,
img,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
article,
header,
footer,
aside,
nav,
section,
details,
figcaption,
figure,
hgroup,
main,
menu,
summary,
dl,
dt,
dd,
button {
  border: 0;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  height: 100%;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

a {
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

table {
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  word-break: break-all;
}

button {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

button:hover {
  cursor: pointer;
}

/*
追加
参考 https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap-reboot.css
 */
b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  font-size: 1.2rem;
  height: 0;
  line-height: 1;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

select::-ms-expand {
  background: none transparent;
  border: none;
  display: none;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

em {
  font-style: normal;
}
