@charset "utf-8";
@use "../foundation/mixins" as *;
// @include mq(sp)
// @media screen and (max-width: 1200px)

/* ============================================
// MODULES
// ==========================================*/

/*--------------------
	commonTitle
--------------------*/
.commonTitle01 {
  &__inner {
    position: relative;
    width: fit-content;


    .eng {
      font-family: $eng;
      font-size: 5.4rem;
      font-weight: 700;
      letter-spacing: 0.075em;
      color:$primary-color;
      line-height: 1;
      background: linear-gradient(90deg, $primary-color 0%, $primary-color 60%,$secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include mq(sp){
    font-size: 3.6rem;
  }
    }

    .ja {
      position: relative;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 0.075em;
      color: $primary-color;
      line-height: 1;
      padding-left: 0.8em;
      @include mq(sp){
        font-size: 1.5rem;
      }
      &::before{
      content: '';
      display: block;
      position: absolute;
      top: 0.4em;
    left: 0;
    width: 0.4em;
      aspect-ratio: 1/1;
      background: $third-color;
      border-radius: 50%;
      }
    }
  }

  &.-orange {
    .commonTitle01__inner {
      .eng {
        color: $primary-color;
      }
    }
  }

  &.-white {
    .commonTitle01__inner {
      .ja {
        color: #fff;
      }

      .eng {
        color: #fff;
      }
    }
  }

}

/*--------------------
	commonBtn
--------------------*/
